<div class='main'>
  <div id="app">
    <table align='center'>
      <tbody></tbody>
    </table>
  </div>
  <div class='result'></div>
  <button class='submit'>Submit</button>
</div>

<script src="/client/bower_components/jquery/dist/jquery.js"></script>
<script src="/client/model/model.js"></script>
<script src="/client/app.js"></script>
<script src="/client/presenter/presenter.js"></script>
<script src="/client/presenter/submitPresenter.js"></script>
<script type="text/javascript">

  App.init();

</script>