<div class='signin'>
  <form name="signinForm" method='post'>
    <input type='text' name='username'><br>
    <input type="password" name='password'><br>
    <button>signin</button>
  </form>
  <a href="/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>