<div class='signup'>
  <form name="signupForm" method='post'>
    <input type='text' name='username'><br>
    <input type="password" name='password'><br>
    <button>signup</button>
  </form>
  <a href="/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>